<!DOCTYPE html>
<html>

<head>
    <title>Andres Felipe Balanta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="index.html">
            <span class="nav-text">Presentación</span>
            <i class="fas fa-user-circle nav-icon"></i>
        </a>
        <a class="nav-link" href="hoja-de-vida.html">
            <span class="nav-text">Hoja de Vida</span>
            <i class="fa fa-file nav-icon"></i>
        </a>
        <a class="nav-link" href="experiencia.html">
            <span class="nav-text">Experiencia universitaria</span>
            <i class="fa fa-university nav-icon"></i>
        </a>
        <a class="nav-link" href="intereses.html">
            <span class="nav-text">Sobre mi</span>
            <i class="fas fa-heart nav-icon"></i>
        </a>
        <a class="nav-link" id="nav-link-largo" href="paginas_de_mi_interes.html">
            <span class="nav-text">Páginas de mi Interés</span>
            <i class="fas fa-star nav-icon"></i>
        </a>
    </nav>
    <div id="left">
        <img src="../img/photohv.png" class="profile-pic-hv" alt="Foto de la persona" width="100%">
        <h2><i class="fa fa-address-book" aria-hidden="true"></i> Contacto</h2>
        <hr>
        <p>Santiago de Cali, Colombia.</p>
        <p><i class="fa fa-phone-square" aria-hidden="true"></i> <b>Teléfono: </b> 3052181</p>
        <p><i class="fa fa-mobile" aria-hidden="true"></i> <b>Celular: </b> <a href="tel:+573174436663">3174436663</a></p>
        <p><i class="fa fa-envelope-open" aria-hidden="true"></i> <b>E-mail: </b> <a href="mailto:felipeandres_94@hotmail.com">felipeandres_94@hotmail.com</a></p>
    </div>

    <div id="right">
        <h1 class="section-name">Andres Felipe Balanta</h1>

        <div class="section slide-in" style="animation-delay: 0s;">
            <h2><i class="fas fa-user"></i> Perfil Profesional</h2>
            <hr>
            <p>Ingeniero topográfico de la universidad del valle sede Meléndez en formación, Administrador de empresas en
            formación de la Institución Universitaria Antonio José Camacho, seccional Cali y con alto grado de
            responsabilidad, capacidad de resiliencia, trabajo en equipo, así como actitud de servicio y colaboración.</p>
            <p>Excelentes habilidades de comunicación asertiva y escucha activa; experiencia en cooperativas, bodega y de
            programación, con conocimiento de software, tal como Qguis, ArcGis, Python,SQL, html5,CSS,JS,Office 365.</p>
        </div>

        <div class="section slide-in" style="animation-delay: 0.5s;">
            <h2><i class="fas fa-graduation-cap"></i> Formación Académica</h2>
            <hr>
            <p>COLEGIO Institución Educativa Técnico Industrial 20 de Julio, Cali – Colombia 2011.</p>
            <p>Institución Universitaria Antonio José Camacho. Administración de empresas.</p>
            <p>Universidad del valle. Ingeniería Topográfica 9 Semestres Cali Colombia 2018-2.</p>
        </div>

        <div class="section slide-in" style="animation-delay: 1s;">
            <h2><i class="fas fa-language"></i> Idiomas</h2>
            <hr>
            <p>Ingles B1.</p>
        </div>

        <div class="section slide-in" style="animation-delay: 1.5s;">
            <h2><i class="fas fa-briefcase"></i> Experiencia Laboral</h2>
            <hr>
            <p><b>Auxiliar Administrativo</b>, CTA Multi Servir.</p>
            <p>Cali - Colombia, 15/06/2015 - 12/03/2018.</p>
            <p>
                Responsable de la atención al cliente, coordinar la entrega de mensajería, así como asistencia en el registro
                contable.
            </p>
            <br>
            <p><b>Practicante de calidad</b>, Importadora asociadas.</p>
            <p>Cali - Colombia, 9/02/2020 - 9/02/2021.</p>
            <p>
                Responsable de la información documentada de IA Cali acuerdo a la iso 9001.
            </p>
            <br>
            <p><b>Validador de argumentaciones</b>, , Ecompass.</p>
            <p>Cali - Colombia, 21/12/2022 - 15/01/2023.</p>
            <p>
                Responsable de validar la información proveniente de la ANT.
            </p>
        </div>
    </div>

</body>

</html>
