<!DOCTYPE html>
<html>

<head>
    <title>Andres Felipe Balanta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="body-index">
    <div class="background-img"></div>
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="index.html">
            <span class="nav-text">Presentación</span>
            <i class="fas fa-user-circle nav-icon"></i>
        </a>
        <a class="nav-link" href="hoja-de-vida.html">
            <span class="nav-text">Hoja de Vida</span>
            <i class="fa fa-file nav-icon"></i>
        </a>
        <a class="nav-link" href="experiencia.html">
            <span class="nav-text">Experiencia universitaria</span>
            <i class="fa fa-university nav-icon"></i>
        </a>
        <a class="nav-link" href="intereses.html">
            <span class="nav-text">Sobre mi</span>
            <i class="fas fa-heart nav-icon"></i>
        </a>
        <a class="nav-link" id="nav-link-largo" href="paginas_de_mi_interes.html">
            <span class="nav-text">Páginas de mi Interés</span>
            <i class="fas fa-star nav-icon"></i>
        </a>
    </nav>
    <div class="profile-section">
        <div class="profile-text">
            <img src="../img/profile.png" class="profile-pic" alt="Andres Felipe Balanta">
            <h1>Andres Felipe Balanta</h1>
            <p>Soy originario de Cali, Colombia, y nací el 21 de marzo de 1994. Mis padres son Diego Balanta Vazques y
                Liliana Maria Erazo, a quienes agradezco infinitamente por su amor y apoyo incondicional.</p>
            <p>Durante mi infancia, estudié en la escuela Celmira Bueno de Orejuela y posteriormente cursé mi bachillerato
                en el Instituto Educativo Técnico Industrial 20 de Julio. Fueron años maravillosos, llenos de aprendizajes y
                experiencias inolvidables.</p>
            <p>Después de graduarme del bachillerato, ingresé a la Institución Universitaria Antonio Jose Camacho para
                estudiar Administración de Empresas. Esta carrera me apasiona y me permitió adquirir los conocimientos
                necesarios para ser un profesional competente en el mundo empresarial.</p>
            <p>Actualmente, he terminado mi carrera de Administración de Empresas en la UNIAJC, y me encuentro cursando mis
                estudios de Ingeniería Topográfica en la Universidad del Valle. Estoy emocionado por lo que el futuro me
                depara y estoy seguro de que podré aplicar mis conocimientos y habilidades en el mundo laboral.</p>
            <p>Soy una persona positiva, entusiasta y perseverante. Me encanta el deporte, la música y leer sobre temas
                variados que me permitan ampliar mi conocimiento.</p>
            <p>Para contactarme, puedes escribirme a mi correo electrónico <a
                    href="mailto:felipeandres_94@hotmail.com" class="email-link">felipeandres_94@hotmail.com</a>.</p>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>

</html>