<!DOCTYPE html>
<html>

<head>
    <title>Pagina de mi interes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="body-pagina">
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="index.html">
            <span class="nav-text">Presentación</span>
            <i class="fas fa-user-circle nav-icon"></i>
        </a>
        <a class="nav-link" href="hoja-de-vida.html">
            <span class="nav-text">Hoja de Vida</span>
            <i class="fa fa-file nav-icon"></i>
        </a>
        <a class="nav-link" href="experiencia.html">
            <span class="nav-text">Experiencia universitaria</span>
            <i class="fa fa-university nav-icon"></i>
        </a>
        <a class="nav-link" href="intereses.html">
            <span class="nav-text">Sobre mi</span>
            <i class="fas fa-heart nav-icon"></i>
        </a>
        <a class="nav-link" id="nav-link-largo" href="paginas_de_mi_interes.html">
            <span class="nav-text">Páginas de mi Interés</span>
            <i class="fas fa-star nav-icon"></i>
        </a>
    </nav>
    <div class="container">
        <a href="https://www.sci-hub.se/">
            <img src="../img/scihub.gif" alt="Descripción de la imagen" class="image">
        </a>
        <div class="title">sci-hub</div>
        <div class="text"><p>
            Sci-Hub es una página web que ha sido muy útil para muchos estudiantes universitarios y personas interesadas en la
            investigación científica. Esta plataforma ofrece acceso gratuito a millones de artículos científicos que normalmente
            solo están disponibles a través de suscripciones costosas y restricciones de pago.
        </p>
        
        <p>
            Desde mi experiencia personal, Sci-Hub ha sido una herramienta invaluable para mis estudios universitarios y otros temas
            de mi interés. La página me ha permitido acceder a una gran cantidad de información académica que de otra manera hubiera
            sido difícil o imposible de obtener. Gracias a esta plataforma, he podido leer artículos que son fundamentales para mi
            área de estudio, y que me han permitido profundizar en temas específicos que me interesan.
        </p>
        
        <p>
            Además de ser útil para la investigación académica, Sci-Hub también es una gran ayuda para quienes están interesados en
            temas científicos en general. La plataforma cuenta con una amplia variedad de artículos de diferentes campos de la
            ciencia, como la física, la biología, la química y la medicina, entre otros. Esto permite a las personas acceder a
            información actualizada y relevante sobre diferentes temas de su interés, lo que puede ser muy beneficioso para su
            desarrollo personal y profesional.
        </p>
        
        <p>
            En resumen, Sci-Hub es una herramienta invaluable para aquellos interesados en la investigación y el estudio de la
            ciencia en general. Esta plataforma permite acceder a información científica de manera gratuita y fácil, lo que la
            convierte en una excelente opción para aquellos que buscan ampliar sus conocimientos y explorar nuevos temas.
            Personalmente, Sci-Hub ha sido una gran ayuda en mis estudios universitarios y en mi desarrollo profesional, y sin duda
            seguirá siendo una herramienta muy útil en el futuro.
        </p></div>
    </div>
</body>

</html>